//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

.govuk-header__navigation-item--active {
  .govuk-header__link, .govuk-header__link:link, .govuk-header__link:visited {
    color: #000;
  }
}

.govuk-header__link, .govuk-header__link:link, .govuk-header__link:visited {
  color: #1d8feb;
}

#blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  background: #000;
  display: none;
  width: 10px;
  height: 20px;
  margin-bottom: 20px;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.doc-content-box-wrapper {
  padding: 0 30px 0 0;
}

.doc-content-box {
  border-top: 1px solid #b1b4b6;
  padding: 5px 0 20px 0;
  h4 {
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  p {
    font-size: 1.4em;
  }
}

.doc-content-block li {
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 19px;
}

.homepage-inverse-header{background-color:#1d70b8;padding-bottom:40px;padding-top:50px;font-family:"GDS Transport",arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}@media print{.homepage-inverse-header{font-family:sans-serif}}@media (min-width: 48.0625em){.homepage-inverse-header{padding-bottom:50px;padding-top:60px}}.homepage-inverse-header__title{font-weight:700;color:#fff;font-size:32px;font-size:2rem;line-height:1.2;margin:0;padding-bottom:30px}@media (min-width: 48.0625em){.homepage-inverse-header__title{font-size:48px;font-size:3rem}}.homepage-inverse-header__intro{color:#fff;font-size:19px;font-size:1.1875rem;margin:0;padding-bottom:10px}@media (min-width: 48.0625em){.homepage-inverse-header__intro{font-size:24px;font-size:1.5rem}}.homepage-inverse-header__intro--bold{font-weight:700}
