{% extends "layouts/main.html" %}
{% block header %}
  {% include "layouts/header.html" %}
  <header class="homepage-inverse-header">
    <div class="govuk-width-container">
      <h1 class="homepage-inverse-header__title">
        Documentation
      </h1>
      <p class="homepage-inverse-header__intro">This guide provides information on LAA Digital software.</p>
      <p class="homepage-inverse-header__intro">It has a technical focus but includes non-technical info about our products too.</p>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="govuk-width-container govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <h1 class="govuk-heading-l">Topics</h1>
  </div>
</div>

<div class="govuk-width-container govuk-grid-row">
  <div class="govuk-grid-column-one-third doc-content-box-wrapper">
    <div class="doc-content-box">
      <h4 class="govuk-heading-s">General</h4>
      <p class="govuk-body">
         <a href="/docs/acronyms">Acronyms</a>,
         <a href="/docs/authentication">Authentication</a>,
         <a href="/docs/domains">Domains</a>,
         <a href="/docs/hosting">Hosting</a>,
         <a href="/docs/laa-digital-tech">Our tech</a>,
         <a href="/docs/laa-digital">LAA Digital</a>,
         <a href="/docs/security">Security</a>,
         <a href="/docs/hub">LAA Hub</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third doc-content-box-wrapper">
    <div class="doc-content-box">
      <h4 class="govuk-heading-s">Criminal legal aid</h4>
      <p class="govuk-body"><a href="/docs/maat">MAAT</a>,
         <a href="/docs/maat-api">MAAT API</a>,
         <a href="/docs/mlra">MLRA</a>,
         <a href="/docs/eforms">Eforms</a>,
         <a href="/docs/crime-apply">Crime Apply</a>,
         <a href="/docs/crime-review">Crime Review</a>,
         <a href="/docs/criminal-applications-datastore">Criminal Applications datastore</a>,
         <a href="/docs/crime-means-assessment">Crime means assessment</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third doc-content-box-wrapper">
    <div class="doc-content-box">
      <h4 class="govuk-heading-s">Court data</h4>
      <p class="govuk-body"><a href="/docs/xhibit">Xhibit</a>,
         <a href="/docs/libra">Libra</a>,
         <a href="/docs/common-platform">Common Platform</a>,
         <a href="/docs/court-data-adaptor">Court Data Adaptor</a>,
         <a href="/docs/vcd">View Court Data (VCD)</a>,
         <a href="/docs/infox">InfoX</a>,
         <a href="/docs/nolasa">NoLASA</a>
      </p>
    </div>
  </div>
</div>

<div class="govuk-width-container govuk-grid-row">
  <div class="govuk-grid-column-one-third doc-content-box-wrapper">
    <div class="doc-content-box">
      <h4 class="govuk-heading-s">Providers and Identity</h4>
      <p class="govuk-body">
        <a href="/docs/laa-portal">LAA Portal</a>,
        <a href="/docs/cwa">CWA</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third doc-content-box-wrapper">
    <div class="doc-content-box">
      <h4 class="govuk-heading-s">Eligibility</h4>
      <p class="govuk-body">
        <a href="/docs/benefit-checker">DWP Benefit Checker</a>,
        <a href="/docs/ccq">Check if your Client Qualifies for legal aid (CCQ)</a>,
        <a href="/docs/check-financial-eligibility">Check Financial Eligibility (CFE)</a>,
        <a href="/docs/hmrc-interface">HMRC Interface</a>,
        <a href="/docs/hmrc-assurance-tool">HMRC Assurance tool</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third doc-content-box-wrapper">
    <div class="doc-content-box">
      <h4 class="govuk-heading-s">Criminal billing</h4>
      <p class="govuk-body">
        <a href="/docs/cccd">Claim for Crown Court Defence (CCCD)</a>,
        <a href="/docs/ccr">Crown Court Remuneration (CCR)</a>,
        <a href="/docs/cclf">Crown Court Litigators Fees (CCLF)</a>
      </p>
    </div>
  </div>
</div>

<div class="govuk-width-container govuk-grid-row">
  <div class="govuk-grid-column-one-third doc-content-box-wrapper">
    <div class="doc-content-box">
      <h4 class="govuk-heading-s">Civil legal aid</h4>
      <p class="govuk-body">
        <a href="/docs/ccms">CCMS</a>,
        <a href="/docs/civil-apply">Civil Apply</a>,
        <a href="/docs/legal-framework-api">Legal Framework API</a>
      </p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third doc-content-box-wrapper">
    <div class="doc-content-box">
      <h4 class="govuk-heading-s">Civil help</h4>
      <p class="govuk-body">
        <a href="/docs/cla">CLA</a>,
        <a href="/docs/fala">Find a legal advisor (FALA)</a>
      </p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third doc-content-box-wrapper">
    <div class="doc-content-box">
      <h4 class="govuk-heading-s">Advice in custody</h4>
      <p class="govuk-body">
        <a href="/docs/cccd">DSCC</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
