{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="/" method="post" class="form">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="question">
          Q&A
        </label>
      </h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <input class="govuk-input" id="question" name="question" type="text" placeholder="Type your question here" {% if question %} value="{{ question }}"{% endif %}>
        </div>
        <div class="govuk-grid-column-one-third">
          <button class="govuk-button" data-module="govuk-button" onclick="asking()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div id="blink"> </div>
    {% if answer %}
      <div id="answer-text" class="govuk-body">{{ answer | safe }}</div>
    {% endif %}
  </div>
</div>

{% endblock %}
